{{ if .Site.Params.certifications.enable | default false }}
{{- $certifications := .Site.Language.Params.certifications | default .Site.Params.certifications -}}
<section id="certifications" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $certifications.title | default "Certifications" }}</h3>
        <div class="row justify-content-center py-4">
            {{ range $certifications.items | default .Site.Params.certifications.items }}
            <div class="col-sm-12 col-md-10 col-lg-8 my-2">
                <div class="certification-card">
                    <div>
                        <div class="certification-meta">{{ .date }}</div>
                        <h5>{{ .title }}</h5>
                        <div class="certification-issuer">{{ .issuer }}</div>
                    </div>
                    <div class="certification-content">
                        {{ .content | markdownify }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
